.apply-cont{
    display: inline-flex;
height: 87px;
padding: 28.5px 722.5px 28.5px 157.5px;
align-items: center;
width: 53.7%;
background: #FFF;
box-shadow: 1px 1px 12px 0 rgba(51, 51, 51, 0.10);
gap: 24px;
}

.apply-cont2{
    display: flex;
    width: 1425px;
flex-shrink: 0;
justify-content: center;
align-items: center;
width: 100%;
text-align: center;
}

.cards{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 48px;
    justify-content: center;
    align-items: center;
    padding: 24px;
}
