.div1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 100%;
}

.card-cont{
    padding: 128px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}